@page
@model EntAppSecond.Pages.Students.CreateModel
@{
    ViewData["Title"] = "Data Validation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

</head>
<body>

    <form method="post">


        <label asp-for=Student.FirstName></label>
        <input asp-for=Student.FirstName />
        <br />
        <br />

        <label asp-for=Student.SecondName></label>
        <input asp-for=Student.SecondName />
        <br />
        <br />

        <label asp-for=Student.StudentID></label>
        <input asp-for=Student.StudentID />
        <br />
        <br />


        <div asp-validation-summary="All"></div>
        <span asp-validation-for="Student.StudentID"></span>

        <br />
        <br />

        <button type="submit">Press Me</button>

    </form>



</body>
</html>
